* {
    font-family: "Poppins", sans-serif;
    padding: 0px;
}

:root {
    --primary-color: rgba(58, 58, 58, 1);
}

/* header styles */

/* nav section */
.nav-title {
    font-size: 22px;
    color: rgba(58, 58, 58, 1);
}

.title-des {
    font-size: 16px;
    color: rgba(58, 58, 58, 1);
    font-weight: 600;
}

.nav-bar {
    margin-top: 50px;
    margin-left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
}

nav li {
    list-style: none;
}

nav ul {
    display: flex;
    gap: 29px;
}

/* header body section */
.header-body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 90px;
    padding-left: 80px;
    padding-right: 80px;
}

.header-writing {
    width: 582px;
}

.header-title {
    font-size: 50px;
    color: var(--primary-color);
    margin-bottom: 0px;
    width: 560px;
}

.header-des {
    width: 505px;
    margin-top: 0px;
    padding-top: 0px;
}

.header-camera {
    height: 360px;
    width: 390px;
    padding-top: 40px;
    padding-left: 20px;
}

.header-img {
    background: url('images/circle\ jpg.jpg');
    background-size: 440px;
    background-repeat: no-repeat;
}

.button-primary {
    background-color: rgba(224, 44, 109, 1);
    border: none;
    border-radius: 40px;
    width: 196px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;

}

.white {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 50%;
    color: white;
}

/* main section start */

/* logo */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 1110px;
    gap: 50px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-left: 80px;
    margin-bottom: 120px;
}

/* collection */
.collection-container {
    display: grid;
    margin-left: 130px;
    margin-right: 120px;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    padding: 10px;
    height: 400px;
    width: 255px;
    box-shadow: 2px 2px 30px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    margin-left: 30px;
    border-radius: 3px;
    cursor: pointer;
}

.collection-img {
    width: 255px;
}

.checked {
    color: orange;
}

.collection-title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 0px;
    color: rgba(24, 25, 31, 1);
    margin-top: 4px;
}

.collection-price {
    font-size: 24px;
    font-weight: 400;
    margin-top: 6px;
    color: rgba(24, 25, 31, 1);
    margin-bottom: 4px;
}

.star {
    margin-top: 0px;
}

.fa-star {
    height: 12px;
    width: 12px;
}

.rate {
    font-size: 14px;
    font-weight: 600;
    color: rgba(94, 99, 102, 1);
}

.collection-des {
    color: rgba(120, 120, 133, 1);
    font-size: 13px;
    font-weight: 600;
    margin-top: 0px;
}

.arrow-see {
    margin-left: 80vw;
}

.pink {
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: bold;
    position: relative;
}


/* featured collection started */

.featured-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin-bottom: 100px;
}

.featured-title {
    font-size: 38px;
    margin-bottom: 0px;
}

.featured-des {
    font-size: 16px;
    font-weight: 600;
    color: rgba(108, 108, 108, 1);
}

.feature-btn {
    border-radius: 0;
}


/* footer styles */
footer {
    color: white;
    background-color: rgb(1, 1, 41);
    text-align: center;
    height: 40vh;
    padding: 0px;
}

.footer-container{
    padding-top: 40px;
}

.footer-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}

.footer-des {
    font-size: 12px;
    font-weight: 500;
    color: rgba(217, 219, 225, 1);
    margin-top: 0px;
    margin-bottom: 5px;
}

.icons-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}


/* responsive */
@media screen and (max-width:576px) {

    /* header responsive */
    .header-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav-bar {
        flex-direction: column;
        gap: 0px;
        padding-right: 40px;
    }

    .nav-title {
        text-align: center;
    }

    .header-writing {
        width: auto;
        text-align: center;
    }

    .header-title {
        width: 400px;
    }

    .header-des {
        width: 320px;
        height: 65px;
        margin-left: 45px;
    }

    .header-camera {
        height: 190px;
        width: 202px;
        padding-top: 40px;
        padding-left: 20px;
    }

    .header-img {
        background-size: 257px;
        background-repeat: no-repeat;
    }

    .button-primary {
        margin-top: 10px;
    }

    /* main responsive */
    /* logo */
    .logo-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border: none;
        height: auto;
        width: auto;
        margin-left: 10px;
    }

    .collection-container {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .arrow-see {
        margin-left: 70vw;
    }

    .featured-container {
        flex-direction: column-reverse;
        text-align: center;
    }
}