*{
    font-family: "Poppins", sans-serif;
}
:root{
    --primary-color: rgba(58, 58, 58, 1);
}

/* header styles */

/* nav section */
.nav-title{
    font-size: 22px;
    color: rgba(58, 58, 58, 1);
}
.title-des{
    font-size: 16px;
    color: rgba(58, 58, 58, 1);
    font-weight: 600;
}

.nav-bar{
    margin-top: 50px;
    margin-left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
}

nav li{
    list-style: none;
}

nav ul{
    display: flex;
    gap: 29px;
}

/* header body section */
.header-body{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.header-writing{
    width: 582px;
}

.header-title{
    font-size: 50px;
    color: var(--primary-color);
    margin-bottom: 0px;
}

.header-des{
    width: 505px;
    margin-top: 0px;
    padding-top: 0px;
}
.header-camera{
    height: 360px;
    width:  390px;
    padding-top: 40px;
    padding-left: 20px;
}

.header-img{
    background: url('images/circle\ jpg.jpg');
    background-size: 440px;
    background-repeat: no-repeat;
    /* background-position: right; */
}